html {
  height: 100vh !important;
}
body {
  padding-top: 10px;
}

.btn {
  margin-bottom: 10px;
}

.logo {
  transition: ease all 0.5s;
  background-image: url('/static/capa.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 100%;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
}

.messages {
    position: absolute;
    left: calc(50% - 120px);
    width: 240px;
    text-align: center;
}

.container {
  border-radius: 4px;
  margin: auto;
  width: 80%;
}


.opacity-input {
  opacity: .6;
}
